.git
.github
.env
.venv
**/.venv
**/__pycache__
**/*.pyc
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
**/.next
**/node_modules
**/playwright-report
**/test-results
**/coverage
data
uploads
.DS_Store
